body { width:640px; margin:auto; font-family: georgia, serif; }

hr {color: white; border:0;}


label { width: 4em; float: left; text-align: right; margin-right: 0.5em; display: block }


.header {font-size: 3em; }



.main {font-size: 1em; color: #000; }
.main form {border:1px; margin: 2px; padding: 2px; }



.footer {font-size:0.75em; color: #C8C8C8;}